# APP
APP_TITLE="Hono API - dev"
APP_URL="http://localhost:3333"

# DATABASE
DATABASE_URL="postgres://pgvector_db:pgvector_db@localhost:5432/pgvector_db"

# GEMINI
GOOGLE_GENERATIVE_AI_API_KEY="AIza..."

# PROMPTFOO
GOOGLE_API_KEY="AIza..."

# OTEL
OTEL_LOG_LEVEL="INFO"